  <%= form_with(model: @Sale) do |form| %>

    <div class="row">
        <div class="col-md-6">
            <h4 class="heading-mini">Billing Details</h4>
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= form.text_field :first_name, placeholder: 'first name', id: :sales_first_name, class: "form-control" %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= form.text_field :last_name, placeholder: 'last name', id: :sales_last_name, class: "form-control" %>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= form.text_field :email, placeholder: 'email', class: "form-control" %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= form.select :state, options_for_select(us_states),{}, class: 'form-control' %>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <%= form.text_field :zip_code, placeholder: 'zip code', class: "form-control" %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <%= form.text_field :address, placeholder: 'address', class: "form-control" %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="space-20"></div>
                        <div id="create-account">
                          <% if !logged_in? %>
                            <%= form.password_field :password, placeholder: 'password', class: "form-control" %>
                            <% end %>
                            <div class="space-10"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Notes about your order" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div><!--checkout col left end-->
        <div class="col-md-6">
            <h4 class="heading-mini">Your Order</h4>
            <div class="table-responsive">
                <table id="shopping-cart-table" class="shopping-cart-table table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="td-name">Product Name</th>

                            <th class="td-total">Subtotal</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td-images">
                                <a href="#" class="product-image">
                                    <img class="replace-2x" src="assets/img/shop/p2.jpg" alt="" title="" width="70" height="70">
                                </a>
                            </td>
                            <td class="td-name">
                                <h4 class="product-name">
                                    <%= @service.name %>
                                </h4>
                            </td>

                            <td class="td-total">
                                <div class="price">$<%= @service.price %></div>
                            </td>

                        </tr>
                        <tr>
                            <td class="td-images">
                                <a href="shop-product-view.html" class="product-image">
                                    <img class="replace-2x" src="assets/img/shop/p3.jpg" alt="" title="" width="70" height="70">
                                </a>
                            </td>
                            <td class="td-name">
                                <h4 class="product-name">
                                    <%= Equipment.first.name %>
                                </h4>
                            </td>

                            <td class="td-total">
                                <div class="price">
                                  <select class="vars" name=<%=Equipment.first.price %> >
                                    <option data-price="50000"><%=Equipment.first.price %>
                                    </option>
                                  </select>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table><!-- .shopping-cart-table -->
            </div>
            <div class="space-30"></div>
            <ul class="list-unstyled cart-totals">
                <li class="cart-subtotal">
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Subtotal</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <span id="item-price">$1500.00</span>
                        </div>
                    </div>
                </li>
                <li class="shipping">
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Shipping</span>
                            <div class="space-20"></div>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled shipping-method">
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            Domestic
                                            <span class="amount">$10.00</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <%= form.radio_button :equipment_name, Equipment.first.name, :checked => true %> <%=Equipment.first.name%> <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option1" checked>
                                            International
                                            <span class="amount">$20.00</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option1" checked>
                                            Pickup (Free)
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li><!--shipping-->

                <li class="total-values">
                    <div class="row">
                        <div class="col-sm-6">
                            Total
                        </div>
                        <div class="col-sm-6 text-right">
                            $1500.00
                        </div>
                    </div>
                </li>
            </ul>
            <div class="space-30"></div>
            <h4 class="heading-mini"></h4>
            <ul class="payment-methods list-unstyled">
                <li>
                    <input type="radio" name="paymentmethod" id="cheque" checked class="iradio_square-gray"><label for="cheque"> Cheque Payments</label>
                    <br>
                    <span>
                        Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                    </span>
                </li>
                <li>
                    <input type="radio" name="paymentmethod" id="paypal" class="iradio_square-gray"><label for="paypal"> Paypal <img src="assets/img/shop/paypal.jpg" alt="" width="90"></label>
                </li>
            </ul>

            <p>
                <input type="checkbox" name="agree" id="agree">
                <label for="agree">Accept our <a href="javascript:void(0)">Terms &  Condition</a></label>
            </p>
            <%= form.submit class: "btn btn-lg btn-block btn-dark"%>
        </div><!--checkout col left end-->
    </div>
<% end %>
