
        <nav class="navbar navbar-toggleable-sm navbar-light bg-faded yamm">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/"><%=image_tag("NitroPlus_logo2.png", class: "img-fluid", size: "100x140")%></a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="active  nav-item">
                            <%= link_to "Home", root_path, class: "-toggle nav-link" %>
                        </li>
                        <li class=" nav-item">
                            <%= link_to "Buy now", services_path, class: "-toggle nav-link" %>

                        </li>
                        <li class="  nav-item">
                            <%= link_to "Channels", channels_index_path, class: "-toggle nav-link" %>
                        </li>
                        <!--mega menu-->
                        <li class=" -fw nav-item">
                            <%= link_to "Apps", apps_index_path, class: "-toggle nav-link" %>
                          </li>

                        <!--menu Features li end here-->

                        <!-- <li class="social-nav nav-item"><a href="#" class="nav-link"><i class="ion-social-facebook"></i></a></li>
                        <li class="social-nav nav-item"><a href="#" class="nav-link"><i class="ion-social-twitter"></i></a></li>
                        <li class="social-nav nav-item"><a href="#" class="nav-link"><i class="ion-social-youtube"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
