<div class="space-70"></div>

<div class="container">
     <div class="row">
         <div class="col-lg-6 offset-lg-3">
             <div class="my-login-form">
               <%= form_with(model: user, local: true) do |form| %>
                <% if user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                  <ul>
                    <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
                <% end %>
                 <h4 class="text-uppercase">Sign up</h4><hr>
                 <div class="row">
                   <div class="col-md-6 margin-btm-20">
                     <%= form.text_field :first_name, placeholder: 'first name', id: :user_first_name, class: "form-control" %>
                   </div>

                   <div class="col-md-6 margin-btm-20">
                     <%= form.text_field :last_name, placeholder: 'last name', id: :user_last_name, class: "form-control" %>
                   </div>

                   <div class="col-md-6 margin-btm-20">
                     <%= form.text_field :email, placeholder: 'email', id: :user_email, class: "form-control" %>
                   </div>

                   <div class="col-md-6 margin-btm-20">
                     <%= form.text_field :password, placeholder: 'password', id: :user_password, class: "form-control" %>
                   </div>

                   <div class=" col-md-12 text-center">
                     <%= form.submit class: "btn theme-btn-color" %>
                   </div>
                 <% end %>
                 </div>
                 <hr>
                 <div class="form-btm-link text-center">
                  <a href="signup.html">Already have an account? </a>
                 </div>
             </form>
             </div>
         </div>
     </div>
 </div>
