<div class="space-70"></div>
<div class="container">
<div class="space-40"></div>
               <div class="row">
                      <div class="col-md-4 margin-btm-20">
                   <div class="person-section">
                      <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                       <div class="person-desc">
                           <h3>NitroPlus  Android App</h3>
                           <%= link_to "download", download_android_app_path %>
                       </div>
                   </div><!--person section end-->
               </div><!--person col end-->
               <div class="col-md-4 col-sm-6 margin-btm-20">
                   <div class="person-section">
                       <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                       <div class="person-desc">
                           <h3>NitroPlus Kodi TV AddOn</h3>
                            <%= link_to "download", download_kodi_addon_path %>

                       </div>
                   </div><!--person section end-->
               </div><!--person col end-->
               <div class="col-md-4 col-sm-6 margin-btm-20">
                   <div class="person-section">
                       <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                       <div class="person-desc">
                           <h3>GSE IPTV</h3>
                           <%= link_to "download", download_gse_iptv_path %>
                       </div>
                   </div><!--person section end-->
               </div>
             </div>
           </div><!--team 3 col end-->

    </div>
    <div class="space-70"></div>
    <div class="container">
    <div class="space-40"></div>
                   <div class="row">
                          <div class="col-md-4 margin-btm-20">
                       <div class="person-section">
                           <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                           <div class="person-desc">
                               <h3>STV Emulator</h3>
                               <%= link_to "download", download_stv_emulator_path %>
                           </div>
                       </div><!--person section end-->
                   </div><!--person col end-->
                   <div class="col-md-4 col-sm-6 margin-btm-20">
                       <div class="person-section">
                           <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                           <div class="person-desc">
                               <h3>Smart IPTV</h3>
                               <%= link_to "download", "http://siptv.eu/mylist/" %>
                           </div>
                       </div><!--person section end-->
                   </div><!--person col end-->
                   <div class="col-md-4 col-sm-6 margin-btm-20">
                       <div class="person-section">
                           <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                           <div class="person-desc">
                               <h3>IP Televions on Google Play</h3>

                               <%= link_to "download", "https://play.google.com/store/apps/details?id=com.paolorossignoli.iptv&hl=en" %>
                           </div>
                       </div><!--person section end-->
                   </div>
                 </div>
               </div><!--team 3 col end-->

        </div><!--Our team page end-->
<br>
