<div class="space-70"></div>
<div class="container">
<div class="space-40"></div>
               <div class="row">
                      <div class="col-md-4 margin-btm-20">
                   <div class="person-section">
                      <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                       <div class="person-desc">
                           <h3>NitroPlus  Android App</h3>
                       </div>
                   </div><!--person section end-->
               </div><!--person col end-->
               <div class="col-md-4 col-sm-6 margin-btm-20">
                   <div class="person-section">
                       <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                       <div class="person-desc">
                           <h3>NitroPlus Kodi TV AddOn</h3>

                           <p>
                               adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                           </p>
                       </div>
                   </div><!--person section end-->
               </div><!--person col end-->
               <div class="col-md-4 col-sm-6 margin-btm-20">
                   <div class="person-section">
                       <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                       <div class="person-desc">
                           <h3>GSE IPTV</h3>

                           <p>
                               adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                           </p>

                       </div>
                   </div><!--person section end-->
               </div>
             </div>
           </div><!--team 3 col end-->

    </div>
    <div class="space-70"></div>
    <div class="container">
    <div class="space-40"></div>
                   <div class="row">
                          <div class="col-md-4 margin-btm-20">
                       <div class="person-section">
                           <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                           <div class="person-desc">
                               <h3>STV Emulator</h3>

                               <p>
                                   adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                               </p>

                           </div>
                       </div><!--person section end-->
                   </div><!--person col end-->
                   <div class="col-md-4 col-sm-6 margin-btm-20">
                       <div class="person-section">
                           <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                           <div class="person-desc">
                               <h3>Smart IPTV</h3>

                               <p>
                                   adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                               </p>

                           </div>
                       </div><!--person section end-->
                   </div><!--person col end-->
                   <div class="col-md-4 col-sm-6 margin-btm-20">
                       <div class="person-section">
                           <%=image_tag("nitroTV.jpg", class: "img-fluid", )%>
                           <div class="person-desc">
                               <h3>IP Televions</h3>

                               <p>
                                   adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                               </p>

                           </div>
                       </div><!--person section end-->
                   </div>
                 </div>
               </div><!--team 3 col end-->

        </div><!--Our team page end-->
