<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nitroplus</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', 'animate', 'flexslider', 'jquery.mCustomScrollbar', 'magnific-popup', 'master-slider-custom', 'sweetalert', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'jquery.min', 'wow.min', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->
        <%= render partial: 'partials/top_bar' %>

        <%= render partial: 'partials/navbar' %>

          <%= yield %>

        <%= render partial: 'partials/footer' %>

        <!--back to top-->
        <a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
        <!--back to top end-->

        <!-- jQuery plugins. -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="assets/js/plugins/plugins.js"></script>
        <script src="assets/js/application.js"></script>




  </body>
</html>
