<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Nitroplus</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', 'animate', 'flexslider', 'jquery.mCustomScrollbar', 'magnific-popup', 'master-slider-custom', 'sweetalert', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'jquery.min', 'wow.min', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <div id="notice"><%= notice %></div>
        <div id="alert"><%= alert %></div>

        <div id="preloader">
            <div id="preloader-inner"></div>
        </div>
        <%= render partial: 'partials/top_bar' %>

        <%= render partial: 'partials/navbar' %>

          <%= yield %>

        <%= render partial: 'partials/footer' %>


        <a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>


        <style type="text/css">
          #notice{
            color: green;
          }

          #alert{
            color: red;
          }
        </style>

  </body>
</html>
